body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(215, 208, 208); /* Light gray background */
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* T-Mobile Magenta theme */
.container {
    max-width: 450px; /* Adjust as needed for your desired maximum width */
    min-width: 450px;
    font-size: 18px;
    float: left;
    padding: 15px;
    background-image: linear-gradient(to top, #e20074, #000000); /* Magenta to black */
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: auto; /* Apply clearfix */
}

.containerResult {
    max-width: 400px; /* Adjust as needed for your desired maximum width */
    min-width: 400px;
    font-size: 18px;
    padding: 15px;
    float: left;
    clear: left;
    margin-top: 5px;
    background-color: #e20074; /* T-Mobile Magenta */
    border-radius: 5px;
    color: #ffffff; /* White text */
    box-shadow: 0 4px 6px rgba(0, 0, 0.5, 0.5);
}
.commissionResult {
    max-width: 400px; /* Adjust as needed for your desired maximum width */
    min-width: 400px;
    font-size: 18px;
    padding: 15px;
    float: left;
    clear: left;
    margin-top: 5px;
    background-color: #e20074; /* T-Mobile Magenta */
    border-radius: 5px;
    color: #ffffff; /* White text */
    box-shadow: 0 4px 6px rgba(0, 0, 0.5, 0.5);
} 

h1 {
    margin: 2px;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}
p {
    margin: 2px;
}



/* Additional styling for form elements, buttons, etc. */
input[type="text"],
input[type="number"]
{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin: 5px ;
    display: inline-block;
}

#radioText {
    font-size: 16px;
    margin-top: 5px;
}

/* Button styling (unchanged) */
button {
    background-color: #e20074;
    float: right;
    margin-bottom: 15px;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}


/* Media query for smaller screens (e.g., cellphones) */
@media (max-width: 500px) {
    .container {
        max-width: 100%; /* Take full width on small screens */
    }
}
