body {
    max-width: 500px;
    justify-content: center;
    background-color: rgb(215, 208, 208); /* Light gray background */
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* T-Mobile Magenta theme */
.Migration {
    padding: 10px; /* Reduce padding for smaller screens */
    background-image: linear-gradient(to top, #e20074, #000000); /* Magenta to black */
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.containerResult,
.commissionResult {
    margin-top: 15px; /* Add some spacing between the containers */
    padding: 5px;
    background-color: #e20074; /* T-Mobile Magenta */
    border-radius: 5px;
    color: #ffffff; /* White text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 2px;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}
p {
    margin: 2px;
}



/* Additional styling for form elements, buttons, etc. */
input[type="text"]
{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin: 5px ;
    display: inline-block;
}

#radioText {
    font-size: 16px;
    margin-top: 5px;
}

/* Button styling (unchanged) */
button {
    background-color: #e20074;
    color: #ffffff;
    margin: 10px 0 2px 338px;
    padding: 6px 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}


@media (max-width: 480px) {

    .container,
    body {
        max-width: 100%; /* Take full width on small screens */
        min-width: auto; /* Reset minimum width */
    }

    button {
        margin: 10px 0 2px 292px;  
    }

    input[type="text"]
{
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
}
