body {
    max-width: 500px;
    justify-content: center;
    background-color: rgb(215, 208, 208); /* Light gray background */
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* T-Mobile Magenta theme */
.migration {
    padding: 10px; /* Reduce padding for smaller screens */
    background-image: linear-gradient(to top, #e20074, #000000); /* Magenta to black */
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.containerResult,
.unitResults {
    margin-top: 10px;
    background-color: #e20074;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Flex the' flex! */
table {
    min-width: 100%;
    border-top: 1px solid #ffffff;
    text-align: center;
}

#bottomtable {
    font-size: 26px;
    ;
}

h3, h1 {
    margin: 2px;
    padding-bottom: 5px;
    text-align: center;
}

#currentAPP {
    font-weight: bold;
    font-size: 2.0em;
}

.salesform {
    padding: 5px;
}
/* Additional styling for form elements, buttons, etc. */
input[type="text"],
input[type="number"] {
    width: 98%;
}

/* Button styling (unchanged) */
button {
    background-color: #e20074;
    color: #ffffff;
    margin: 10px 0 2px 338px;
    padding: 6px 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}

@media (max-width: 480px) {

    .container,
    body {
        max-width: 100%; /* Take full width on small screens */
        min-width: auto; /* Reset minimum width */
    }

    button {
        margin: 10px 0 2px 285px;  
    }
}