body {
    max-width: 500px;
    justify-content: center;
    background-color: rgb(215, 208, 208); /* Light gray background */
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* T-Mobile Magenta theme */
.Migration {
    padding: 10px; /* Reduce padding for smaller screens */
    background-image: linear-gradient(to top, #e20074, #000000); /* Magenta to black */
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.containerResult,
.commissionResult {
    margin-top: 15px; /* Add some spacing between the containers */
    padding: 5px;
    background-color: #e20074; /* T-Mobile Magenta */
    border-radius: 5px;
    color: #ffffff; /* White text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
p {
    margin:3px 0 5px 0;
    border-bottom: #ffffff solid 1px;
    font-size: 13px;
}

h1 {
    margin: 2px;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}

h2 {
    margin: 2px;
    font-size: 24px;
    padding-bottom: 5px;
    text-align: center;
} 

h3 {
    margin: 10px 0 2px 0;
    font-size: 16px;
    padding-bottom: 5px;
}

select {
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

.bottom {
    width: 100%;
    text-align: center;
  }

td {
    font-weight: bold;
    font-size: 20px;
}

/* Button styling (unchanged) */
button {
    background-color: #e20074;
    float: right;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}

@media (min-width: 100%) {

    h1 {
        font-size: 26px;
        margin-bottom:10px ;
    }

    button {
     font-size: 25px;
    };
}